.appoinments-container{
    text-align:center;

}

.appoinments-item h3{
    color:#5ab7d6;
}
.appoinments-item button, .form-control button{
    background-color:#5ab7d6;
    color:white;
    font-size:17px;
    font-weight:700;
    padding:8px 20px;
    border-radius:5px;
    border:none;
    outline:none;
    cursor:pointer;

}
.appoinments-item button:active, .form-control button:active{
    background:#4cc2e9;
}

.form-control{
    padding:0 20px;
}
.form-control input,select{
    border:1px solid lightgrey;
    width:350px;
    padding:10px 20px;
    margin-bottom:10px;
    border-radius:5px
}
.makeStyles-paper-2{
    border:none;
    outline:none;
}